<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title>FFbinaries - Download binaries for ffmpeg, ffprobe, ffserver and ffplay (cross-platform: Windows, Mac, Linux)</title>
  <meta name="description" content="Download binaries for ffmpeg, ffprobe, ffserver and ffplay (Windows, Mac, Linux)">
  <meta name="keywords" content="ffbinaries, ffmpeg, ffprobe, ffplay, ffserver, binaries, binary, static, exe, win, windows, mac, osx, macos, linux, brew, install, download, precompiled, prebuilt">
  <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/public/css/app.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="/public/favicon.png">
</head>
