<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title>Download binaries for ffmpeg, ffprobe, ffserver and ffplay (cross-platform: Windows, Mac, Linux)</title>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
</head>
<body>

  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="/">ffbinaries</a></li>
        <li><a href="/downloads">Downloads</a></li>
        <li><a href="/api">API</a></li>
        <li><a href="/readme">Readme</a></li>
        <li><a href="/stats">Stats</a></li>
        <li><a href="https://www.npmjs.com/package/ffbinaries" target="_blank">Node.js module</a></li>
      </ul>
    </div>
  </nav>

  <br /><br /><br />

  <div class="container">
    <h1>ffbinaries API Endpoints</h1>
    <br />

    <p>All calls to this API are just regular HTTP GETs,
    i.e. <code>curl http://ffbinaries.com/api/v1/version/latest</code>.</p>

    <ul class="well list-unstyled">
      <li><a href="/api/v1/versions">/api/v1</a> Lists all available ffmpeg versions</li>
      <br />
      <li><a href="/api/v1/version/latest">/api/v1/version/latest</a> Serves the latest available version of ffmpeg (currently 3.4)</li>
      <br />
      <li><a href="/api/v1/version/3.2">/api/v1/version/3.2</a> Permalink to version 3.2</li>
      <br />
      <li><a href="/api/v1/version/3.3">/api/v1/version/3.3</a> Permalink to version 3.3</li>
      <br />
      <li><a href="/api/v1/version/3.4">/api/v1/version/3.4</a> Permalink to version 3.4</li>
    </ul>

  </div>

</body>
</html>
