
    <h1>API Endpoints</h1>

    <br />

    <table class="table" width="100%">
      <tr>
        <td>
          <span class="label label-primary">GET</span>
          <code>{{baseUrl}}/api/v1/versions</code>
        </td>
        <td>
          Lists all available ffmpeg versions
        </td>
      </tr>

      <tr>
        <td>
          <span class="label label-primary">GET</span>
          <code>{{baseUrl}}/api/v1/version/latest</code>
        </td>
        <td>
          Serves the latest available version of ffmpeg (currently set to "3.4")
        </td>
      </tr>

      <tr>
        <td>
          <span class="label label-primary">GET</span>
          <code>{{baseUrl}}/api/v1/version/:version</code>
        </td>
        <td>
          Permalink to a specified version ("3.2", "3.3", "3.4")
        </td>
      </tr>
    </table>
