
    <h1>ffbinaries API Endpoints</h1>
    <br />

    <p>All calls to this API are just regular HTTP GETs,
    i.e. <code>curl http://ffbinaries.com/api/v1/version/latest</code>.</p>

    <ul class="well list-unstyled">
      <li><a href="/api/v1/versions">/api/v1</a> Lists all available ffmpeg versions</li>
      <br />
      <li><a href="/api/v1/version/latest">/api/v1/version/latest</a> Serves the latest available version of ffmpeg (currently 3.4)</li>
      <br />
      <li><a href="/api/v1/version/3.2">/api/v1/version/3.2</a> Permalink to version 3.2</li>
      <br />
      <li><a href="/api/v1/version/3.3">/api/v1/version/3.3</a> Permalink to version 3.3</li>
      <br />
      <li><a href="/api/v1/version/3.4">/api/v1/version/3.4</a> Permalink to version 3.4</li>
    </ul>
