    <h1>Download binary files for ffmpeg, ffprobe, ffserver and ffplay</h1>

    <br />
    <br />

    {{#each versions}}
      <h2>ffmpeg {{this.version}} binaries</h2>

      <table class="table table-hover text-center">
        <tr>
          <th></th>
          <th class="text-center">ffmpeg</th>
          <th class="text-center">ffprobe</th>
          <th class="text-center">ffplay</th>
          <th class="text-center">ffserver</th>
        </tr>

        {{#each this.bin}}
        <tr>
          <th>{{@key}}</th>
          <td>
            {{#if this.ffmpeg}}
              <a class="btn btn-sm btn-default" href="{{this.ffmpeg}}">Download</a>
            {{else}}
              -
            {{/if}}
          </td>
          <td>
            {{#if this.ffprobe}}
              <a class="btn btn-sm btn-default" href="{{this.ffprobe}}">Download</a>
            {{else}}
              -
            {{/if}}
          </td>
          <td>
            {{#if this.ffplay}}
              <a class="btn btn-sm btn-default" href="{{this.ffplay}}">Download</a>
            {{else}}
              -
            {{/if}}
          </td>
          <td>
            {{#if this.ffserver}}
              <a class="btn btn-sm btn-default" href="{{this.ffserver}}">Download</a>
            {{else}}
              -
            {{/if}}
          </td>
        </tr>
        {{/each}}

      </table>

      <br />
      <br />
      <br />
    {{/each}}
