<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title>Download binaries for ffmpeg, ffprobe, ffserver and ffplay (cross-platform: Windows, Mac, Linux)</title>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
</head>
<body>

  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="/">ffbinaries</a></li>
        <li><a href="/downloads">Downloads</a></li>
        <li><a href="/api">API</a></li>
        <li><a href="/readme">Readme</a></li>
        <li><a href="/stats">Stats</a></li>
        <li><a href="https://www.npmjs.com/package/ffbinaries" target="_blank">Node.js module</a></li>
      </ul>
    </div>
  </nav>

  <br /><br /><br />

  <div class="container">
    <h1>Download binary files for ffmpeg, ffprobe, ffserver and ffplay</h1>

    <br />

    <h2>ffmpeg 3.3 binaries</h2>

    <table class="table table-hover">
      <tr>
        <th></th>
        <th>ffmpeg</th>
        <th>ffplay</th>
        <th>ffprobe</th>
        <th>ffserver</th>
      </tr>

      <tr>
        <th>Windows (32 bit)</th>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffmpeg-3.2-win-32.zip">Download</a>
        </td>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffplay-3.2-win-32.zip">Download</a>
        </td>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffprobe-3.2-win-32.zip">Download</a>
        </td>
        <td>
          -
        </td>
      </tr>

      <tr>
        <th>Windows (64 bit)</th>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffmpeg-3.2-win-64.zip">Download</a>
        </td>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffplay-3.2-win-64.zip">Download</a>
        </td>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffprobe-3.2-win-64.zip">Download</a>
        </td>
        <td>
          -
        </td>
      </tr>

      <tr>
        <th>Linux (32 bit)</th>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffmpeg-3.2-linux-32.zip">Download</a>
        </td>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffplay-3.2.2-linux-32.zip">Download</a>
        </td>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffprobe-3.2-linux-32.zip">Download</a>
        </td>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffserver-3.2-linux-32.zip">Download</a>
        </td>
      </tr>

      <tr>
        <th>Linux (64 bit)</th>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffmpeg-3.2-linux-64.zip">Download</a>
        </td>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffplay-3.2.2-linux-64.zip">Download</a>
        </td>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffprobe-3.2-linux-64.zip">Download</a>
        </td>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffserver-3.2-linux-64.zip">Download</a>
        </td>
      </tr>

      <tr>
        <th>Linux (ARM HF)</th>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffmpeg-3.2-linux-armhf.zip">Download</a>
        </td>
        <td>
          -
        </td>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffprobe-3.2-linux-armhf.zip">Download</a>
        </td>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffserver-3.2-linux-armhf.zip">Download</a>
        </td>
      </tr>

      <tr>
        <th>Linux (ARM EL)</th>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffmpeg-3.1.4-linux-armel.zip">Download</a>
        </td>
        <td>
          -
        </td>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffprobe-3.1.4-linux-armel.zip">Download</a>
        </td>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffserver-3.1.4-linux-armel.zip">Download</a>
        </td>
      </tr>

      <tr>
        <th>OS X (64 bit)</th>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffmpeg-3.2-osx-64.zip">Download</a>
        </td>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffplay-3.2-osx-64.zip">Download</a>
        </td>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffprobe-3.2-osx-64.zip">Download</a>
        </td>
        <td>
          <a class="btn btn-sm btn-default" href="https://github.com/vot/ffbinaries-prebuilt/releases/download/v3.2/ffserver-3.2-osx-64.zip">Download</a>
        </td>
      </tr>

    </table>

  </div>

</body>
</html>
