<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title>FFbinaries</title>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
</head>
<body>

  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a target="_blank" href="https://www.npmjs.com/package/ffbinaries">
            <img src="https://img.shields.io/npm/v/ffbinaries.svg" />
          </a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/vot/ffbinaries-prebuilt/releases/v3.2">
            <img src="https://img.shields.io/github/downloads/vot/ffbinaries-prebuilt/v3.2/total.svg" />
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="/">ffbinaries</a></li>
        <li><a href="/api">API</a></li>
        <li><a href="/readme">Readme</a></li>
        <li><a href="/stats">Stats</a></li>
      </ul>
    </div>
  </nav>

  <br /><br /><br />

  <div class="container">
    <h1>ffbinaries</h1>
    <br />

    <p>Tiny API service which provides links to precompiled binaries for ffmpeg, ffprobe, ffserver and ffplay.</p>

    <p>This service is still in the early phases of development.</p>

    <br />

    <ul class="well list-unstyled">
      <li><a href="/api/latest">/api/latest</a> Serves the latest available version of ffmpeg</li>
      <li><a href="/api/versions">/api/versions</a> Lists all available ffmpeg versions</li>
      <li><a href="/api/version/3.2">/api/version/3.2</a> Permalink to ffmpeg 3.2</li>
    </ul>

  </div>

</body>
</html>
