    <h1>Download binary files for ffmpeg, ffprobe, ffserver and ffplay</h1>

    <p>
      <img src="https://img.shields.io/github/downloads/vot/ffbinaries-prebuilt/total.svg" />
    </p>

    <br />

    <p><strong>ffbinaries</strong> provides statically linked binary files (executables) for ffmpeg, ffprobe, ffserver and ffplay.</p>

    <p>Binaries are available for Windows, Mac and Linux. You can grab what you need
      from <strong><a href="{{baseUrl}}/downloads">Downloads</a></strong> page.</p>

    <br /><br />

    <h2>Using ffbinaries in your project</h2>

    <p>You can use it through
      <strong><a target="_blank" href="https://www.npmjs.com/package/ffbinaries">ffbinaries Node.js module</a></strong>
      which makes it easy to automatically download the right binaries for your platform or to integrate into your build process.</p>

    <p>You can also connect directly to the <strong><a href="{{baseUrl}}/api">HTTP API</a></strong>
      to integrate it yourself in your projects.</p>

    <p>Alternatively just grab the correct files from <strong><a href="{{baseUrl}}/downloads">Downloads page</a></strong>
      or the <strong><a href="https://github.com/vot/ffbinaries-prebuilt/releases" target="_blank">GitHub repo which hosts the binary files</a></strong>.</p>

    <br /><br />

    <h2>Update: Added versions 3.3 and 3.4</h2>

    <p>As of 18 November 2017 <strong>ffbinaries</strong> adds support
      for versions 3.3 and 3.4 of ffmpeg suite.</p>

    <p><strong>The "latest" version (which is the default setting in ffbinaries
      npm module) is now also pointing to version 3.4.</strong></p>

    <p>You can still link to the previous version (3.2) by specifying it in API
      or npm module.</p>

    <br />
