<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title>Download binaries for ffmpeg, ffprobe, ffserver and ffplay (cross-platform: Windows, Mac, Linux)</title>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
</head>
<body>

  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="/">ffbinaries</a></li>
        <li><a href="/downloads">Downloads</a></li>
        <li><a href="/api">API</a></li>
        <li><a href="/readme">Readme</a></li>
        <li><a href="/stats">Stats</a></li>
        <li><a href="https://www.npmjs.com/package/ffbinaries" target="_blank">Node.js module</a></li>
      </ul>
    </div>
  </nav>

  <br /><br /><br />

  <div class="container">
    <h1>Download binaries for ffmpeg, ffprobe, ffserver and ffplay</h1>

    <p>
      <a href="https://github.com/vot/ffbinaries-prebuilt/releases/tag/v3.2" target="_blank">
        <img src="https://img.shields.io/github/downloads/vot/ffbinaries-prebuilt/v3.2/total.svg" />
      </a>

      <a href="https://github.com/vot/ffbinaries-prebuilt/releases/tag/v3.3" target="_blank">
        <img src="https://img.shields.io/github/downloads/vot/ffbinaries-prebuilt/v3.3/total.svg" />
      </a>

      <a href="https://github.com/vot/ffbinaries-prebuilt/releases/tag/v3.4" target="_blank">
        <img src="https://img.shields.io/github/downloads/vot/ffbinaries-prebuilt/v3.4/total.svg" />
      </a>
    </p>

    <br />

    <p><strong>ffbinaries</strong> provides statically linked binary files (executables) for ffmpeg, ffprobe, ffserver and ffplay.</p>

    <p>Binaries are available for Windows, Mac and Linux. You can grab what you need
      from <strong><a href="/downloads">Downloads</a></strong> page.</p>

    <br /><br />

    <h2>Using ffbinaries in your project</h2>

    <p>You can use it through
      <strong><a target="_blank" href="https://www.npmjs.com/package/ffbinaries">ffbinaries Node.js module</a></strong>
      which makes it easy to automatically download the right binaries for your platform or to integrate into your build process.</p>

    <p>You can also connect directly to the <strong><a href="/api">HTTP API</a></strong>
      to integrate it yourself in your projects.</p>

    <br />


  </div>

</body>
</html>
