<!DOCTYPE html>
<html>
{{>head}}
<body>

  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="/">ffbinaries</a></li>
        <li class="separator"></li>
        <li><a href="/readme">Readme</a></li>
        <li><a href="/downloads">Downloads</a></li>
        <li><a href="/api">API</a></li>
        <li><a href="/stats">Stats</a></li>
        <li class="separator"></li>
        <li><a href="https://www.npmjs.com/package/ffbinaries" target="_blank">Node.js module</a></li>
        <li><a href="https://github.com/vot?tab=repositories&q=ffbinaries" target="_blank">GitHub repos</a></li>
      </ul>
    </div>
  </nav>

  <br /><br /><br />

  <div class="{{#if isHomepage}}hero-gradient{{else}}container{{/if}}">
    {{{body}}}
  </div>

</body>
</html>
