<!DOCTYPE html>
<html>
{{>head}}
<body>

  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="{{baseUrl}}/">ffbinaries</a></li>
        <li><a href="{{baseUrl}}/downloads">Downloads</a></li>
        <li><a href="{{baseUrl}}/api">API</a></li>
        <li><a href="{{baseUrl}}/readme">Readme</a></li>
        <li><a href="{{baseUrl}}/stats">Stats</a></li>
        <li><a href="https://www.npmjs.com/package/ffbinaries" target="_blank">Node.js module</a></li>
        <li><a href="https://github.com/vot?tab=repositories&q=ffbinaries" target="_blank">GitHub repos</a></li>
      </ul>
    </div>
  </nav>

  <br /><br /><br />

  <div class="container">
    {{{body}}}

  </div>

</body>
</html>
