    <h1>ffbinaries readme</h1>

    <hr />

    <h2>Software versions</h2>

    <p><strong>Available ffmpeg versions:</strong> {{versions.ffmpeg}}</p>
    <p><strong>API:</strong> {{versions.api}}</p>
    <p><strong>Node module:</strong> {{versions.module}}</p>


    <h2>Binaries provided</h2>

    <p>All binaries served by ffbinaries are hosted on GitHub
    (<a href="https://github.com/ffbinaries/ffbinaries-prebuilt/releases" target="_blank">repo</a>)
    and are simply repackaged versions of packages provided by other people (see Credits section).</p>

    <p>Repackaging was done in order to provide consistent archive format
    and ship all components as individual downloads.</p>

    <h2>Platforms</h2>

    <p>Supported platform codes:
      <code>windows-32</code>,
      <code>windows-64</code>,
      <code>linux-32</code>,
      <code>linux-64</code>,
      <code>linux-armhf</code>,
      <code>linux-armel</code>,
      <code>osx-64</code>.
    </p>


    <h2>Components</h2>

    <p>See available versions of ffmpeg, ffprobe, ffplay and ffserver for your platform on <a href="{{baseUrl}}/downloads">Downloads page</a>.</p>


    <h2>Git repositories</h2>

    <ul>
      <li>This site: <a href="https://github.com/ffbinaries/ffbinaries-api" target="_blank">ffbinaries-api</a></li>
      <li>Node module: <a href="https://github.com/ffbinaries/ffbinaries-node" target="_blank">ffbinaries-node</a></li>
      <li>Binaries are stored in <a href="https://github.com/ffbinaries/ffbinaries-prebuilt/releases/v3.2" target="_blank">ffbinaries-prebuilt</a></li>
    </ul>


    <h2>Command line interface</h2>

    <p>A CLI client written in Node is available. You can install it with
    <code>npm install ffbinaries -g</code>. Requires Node.js installed on your system.</p>

    <p>It allows you to automate fetching of ffmpeg binaries, for example
    in build systems, i.e. <code>ffbinaries linux-64 --output=/my-binaries/ffmpeg</code>.</p>

    <p>More info on <a target="_blank" href="https://www.npmjs.com/package/ffbinaries" target="_blank">ffbinaries CLI downloader module</a>.</p>


    <h2>Online documentation</h2>

    <ul>
      <li><a href="http://ffmpeg.org/ffmpeg.html" target="_blank">ffmpeg</a></li>
      <li><a href="http://ffmpeg.org/ffplay.html" target="_blank">ffplay</a></li>
      <li><a href="http://ffmpeg.org/ffprobe.html" target="_blank">ffprobe</a></li>
      <li><a href="http://ffmpeg.org/ffserver.html" target="_blank">ffserver</a></li>
    </ul>


    <h2>Credits</h2>

    <p>Original binaries compiled by:</p>

    <ul>
      <li>OS X version: <a href="https://evermeet.cx/ffmpeg/" target="_blank">https://evermeet.cx/ffmpeg/</a></li>
      <li>Linux version: <a href="http://johnvansickle.com/ffmpeg/" target="_blank">http://johnvansickle.com/ffmpeg/</a></li>
      <li>Windows version: <a href="http://ffmpeg.zeranoe.com/builds/" target="_blank">http://ffmpeg.zeranoe.com/builds/</a></li>
    </ul>


    <h2>Licences</h2>

    <p>This project provides precompiled binaries only.</p>

    <p>Please respect the licences of all software here - see
    <a href="http://ffmpeg.org/legal.html" target="_blank">http://ffmpeg.org/legal.html</a>.</p>

    <br /><br /><br /><br />
