<h1>{{toLocaleString github.total}} Binaries Downloaded</h1>
<hr />

<div class="row">

  <div class="col-sm-12 col-md-3">
    <h2>Milestones</h2>

    <p>
      <strong>6 million downloads</strong>
      <br />
      30th April 2023
    </p>

    <br />

    <p>
      <strong>5 million downloads</strong>
      <br />
      10th September 2022
    </p>

    <br />

    <p>
      <strong>4 million downloads</strong>
      <br />
      5th September 2021
    </p>

    <br />

    <p>
      <strong>3 million downloads</strong>
      <br />
      19th February 2020
    </p>

    <br />

<!--
    <p>
      <strong>2.5 million downloads</strong>
      <br />
      7th January 2020
    </p>

    <br />
-->

    <p>
      <strong>2 million downloads</strong>
      <br />
      23rd September 2019
    </p>

    <br />

<!--
    <p>
      <strong>1.5 million downloads</strong>
      <br />
      4th June 2019
    </p>

    <br />
-->

    <p>
      <strong>1 million downloads</strong>
      <br />
      12th February 2019
    </p>

    <br />

<!--
    <p>
      <strong>750k downloads</strong>
      <br />
      4th December 2018
    </p>

    <br />
-->

    <p>
      <strong>500k downloads</strong>
      <br />
      5th October 2018
    </p>

    <br />
<!--
    <p>
      <strong>450k</strong>
      <br />
      20th September 2018
    </p>

    <br />

    <p>
      <strong>400k</strong>
      <br />
      10th September 2018
    </p>

    <br />

    <p>
      <strong>350k</strong>
      <br />
      30th July 2018
    </p>

    <br />

    <p>
      <strong>300k</strong>
      <br />
      11th June 2018
    </p>

    <br />
-->

    <p>
      <strong>250k downloads</strong>
      <br />
      29th April 2018
    </p>

    <br />

<!--
    <p>
      <strong>200k</strong>
      <br />
      21st March 2018
    </p>

    <br />

    <p>
      <strong>150k</strong>
      <br />
      18th February 2018
    </p>

    <br />
-->

    <p>
      <strong>100k downloads</strong>
      <br />
      20th January 2018
    </p>

    <br />

    <p>
      <strong>Stable v1.0.0 published</strong>
      <br />
      10th May 2017
    </p>

    <br />

    <p>
      <strong>Project started</strong>
      <br />
      13th November 2016
    </p>
  </div>

  <div class="col-sm-12 col-md-9">
    <h2>Detailed stats</h2>

    <ul class="stats">

    {{#each github.raw}}
    <li>
      <span class="count">{{toLocaleString this}}</span>
      {{@key}}
    </li>
    {{/each}}
    </ul>
  </div>

</div>


  <br /><br />
